
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9; 
  color: #333;
  font-family: "Poppins", sans-serif; 
  line-height: 1.6;
}

/* Header */
header {
  background: linear-gradient(
    90deg,
    #007acc,
    #1f7dbd
  ); 
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header img {
  max-height: 80px;
}

nav {
  display: flex;
  gap: 20px;
}

.menu-item {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;

  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #ffcc00; 
}

.menu-item.active {
  text-decoration: underline;
  color: coral;
}

/* Blog Section */
.blog-section {
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.blog-section h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #1f7dbd;
  margin-bottom: 30px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Responsive grid */
  gap: 20px;
}

.blog-item {
  background: #ffffff;
  background: linear-gradient(135deg, #007bff, #1f7dbd);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.blog-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.blog-item h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  text-align: justify;
}

.blog-item p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
  text-align: justify;
}

.blog-item .btn {
  align-self: self-end; 
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.blog-item .btn:hover {
  background: #0056b3;
  transform: scale(1.05);
}



/* Footer */
footer {
  color: black;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}

footer p {
  margin-bottom: 10px;
}
