body {
  font-family: Arial, sans-serif;
  background-color: #bae0e6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.registration-form {
  background-color: #a7d0df;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  transition: background-color 0.3s ease-in-out;
}
.registration-form:hover {
  transform: translateY(5px);
}
.registration-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
.registration-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"],
.registration-form input[type="date"],
.registration-form select {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #181818;
  border-radius: 4px;
}
.registration-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #002fff;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.registration-form input[type="submit"]:hover {
  background-color: #0a950c;
}
