<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Messages</title>
    <link rel="stylesheet" type="text/css" href="Design\contact-messages.css">
</head>
<body>
    <header>
        <a href="/home"><img src="Images/GenZ-logo.png" width="200" height="100" alt="GenZ IT"></a>
        <nav>
            <a href="/home" class="menu-item">Home</a>
            <a href="/contact" class="menu-item">Contact</a>
            <a href="/enroll" class="menu-item">Register</a>
            <a href="/profile" class="menu-item">Profile</a>
        </nav>
    </header>

    <section id="messages" class="messages-section">
        <div class="container">
            <h2>Messages</h2>
            <label>
                <!-- <p>Name: {%NAME%}</p>
                <p>Message: {%MESSAGES%}</p> -->
                <p>Mail: {%MAIL%}</p>
                <p>{%MESSAGES%}</p>
            </label>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>© 2025 Gen-Z IT. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>