<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile - Genzit</title>
    <link rel="stylesheet" type="text/css" href="Design\profile.css">
</head>
<body>
    <div class="profile-card">
        <div class="avatar"></div>
        <div class="username">{%NAME%}</div>
        <div class="email">{%EMAIL%}</div>
        <div class="course"><h3>Course: {%COURSE%}</h3></div>
        <div class="info"><strong>Batch: B-1</strong></div>
        <a href="#" class="btn btn-edit">Edit Profile</a>
        <a href="#" class="btn btn-settings">Settings</a>
        <a href="#" class="btn btn-logout">Logout</a>
    </div>
</body>
</html>
