<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile - Genzit</title>
    <link rel="stylesheet" type="text/css" href="Design\profile.css">
</head>
<body>
    <header>
        <a href="/home"><img src="Images/GenZ-logo.png" width="200" height="100" alt="GenZ IT"></a>
        <nav>
            <a href="/home" class="menu-item">Home</a>
            <a href="/contact" class="menu-item">Contact</a>
            <a href="/blog" class="menu-item">Blog</a>
        </nav>
    </header>

    <div class="profile-card">
        <div class="avatar"></div>
        <div class="username">{%NAME%}</div>
        <div class="email">{%EMAIL%}</div>
        <div class="course"><h3>Course: {%COURSE%}</h3></div>
        <div class="info"><strong>Batch: B-1</strong></div>
        <div class="info"><strong>Class-time: 8:00PM to 10:30PM</strong></div>
        <div class="info"><strong>[Sunday, Tuesday, Thursday]</strong></div>
        <!-- <a href="/home" class="btn btn-edit">Edit Profile</a> -->
        <a href="https://t.me/+J0qSHIen8Lw5NTc9" class="btn btn-settings">Telegram Channel</a>
        <a href="/login" class="btn btn-logout">Logout</a>
    </div>

    <!-- <footer>
        <div class="container">
            <p>Main Branch: Road 4, Dhanmondi, Dhaka-1205</p>
            <p>Sub Branch: Govt. College Road, Kushtia</p>
            <p>Contact Number: 01300632367</p>
            <p>© 2025 Gen-Z IT. All rights reserved.</p>
        </div>
    </footer> -->
</body>
</html>
