<link rel="stylesheet" type="text/css" href="Design\template-course.css">

<div class = "details-container">
    <div class="image-container">
        <img src="{%COURSEIMAGE%}" alt="courseImage">
    </div>
    <div class="course-details">
        <h1>Learn Today, Lead Tomorrow</h1>
        <h2 id="heading">{%COURSENAME%}</h2>
        <p><strong>  Course ID:</strong> {%COURSEID%}</p>
        <p><strong>  Fee:</strong> {%COURSEFEE%}</p>
        <p><strong>  Discount:</strong> 100%</p>
        <p><strong>  Duration:</strong> {%COURSEDURATION%}</p>
        <p><strong>  Description:</strong> {%COURSEDESCRIPTION%}</p>
        
        <a href="/enroll" class="enroll">Enroll Now</a>
    </div>
</div>