<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Card</title>
    <link rel="stylesheet" type="text/css" href="Design\welcome-card.css">
</head>
<body>
    <div class="details-container">
        <div class="image-container">
            <img src="../Images/tick.png" alt="Blue Tick">
        </div>
        <div class="content">
            <h1>Your Registration has been Successfully Completed</h1>
            <h4>Learn Today, Lead Tomorrow</h4>
            <p><strong>Batch:</strong> B-1</p>
            <p><strong>Time:</strong> 10:00PM to 12:00AM</p>
            <p><strong>Type:</strong> Online</p>
            <a href="https://t.me/+J0qSHIen8Lw5NTc9" class="btn">Join Our Telegram Group</a>
            <a href="/home" class="btn">Home</a>
            <a href="/login" class="btn">Login</a>
        </div>
    </div>
</body>
</html>